body{
  text-align: center;
  background-image: url("https://mcdn.wallpapersafari.com/medium/59/7/WTB5jE.jpg");
  /* background-image: url("greenScreen.png"); */
  background-repeat: no-repeat;
  background-size: 100%;
  /* background-size:450%; */
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 
  'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: white;
  font-weight:bold;
}
h1{
  color: goldenrod; 
}
p{
font-size: 20px;
}
img {
  display:inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  border: none;
}

div{
  background-size:50px ;
}
button{
  background-color: goldenrod;
  border: none;
  width: 200px;
  border-radius: 5px;
  color: #016f32;
  /* width: 20%; */
  /* height: 25px; */
  font-size: 15px;
  cursor:pointer;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 3px;
  margin-bottom: 3px;
  transition-duration: .6s;
  font-weight:bold;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 
  'Trebuchet MS', sans-serif;
  
}
#startgame{
  display: block;
}
#startGame:hover{
  background-color: rgb(0, 255, 21);
}
#newCard:hover{
  background-color: blue
}
#messege-el{
  font-style: italic;
}
#restart:hover{
  background-color: rgb(201, 1, 1);
}
/* #card1{
  background-image: url("cards/3.png"); ;
} */
#player-el{
  color: #d44545;
}